[core]
  editor = nvim
  excludesfile = /Users/jfjellm/.gitignore_global
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  ss = status -s
  ll = log --graph --oneline --decorate --abbrev-commit --all
  pr = pull-request
  undo = reset --soft HEAD~1
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  templatedir = ~/.git-templates
  defaultBranch = master
[branch "master"]
  remote = upstream
  merge = refs/heads/master
[filter "gitignore"]
  clean = "sed '/#gitignore$/'d"
  smudge = cat
[pull]
  ff = only
[fetch]
  prune = true
[gpg]
  format = ssh
[commit]
  gpgsign = true
	template = ~/.gitmessage
[rebase]
	updateRefs = true
[includeIf "gitdir:~/code/work/"]
  path = .gitconfig_work
[includeIf "gitdir:~/code/oss/"]
  path = .gitconfig_personal
[includeIf "gitdir:~/code/personal/"]
  path = .gitconfig_personal
[includeIf "gitdir:~/code/poc/"]
  path = .gitconfig_work
