.DS_Store
lazy-lock.json
.luarc.json
package-lock.json
.private_keys
.opencode/
packer_compiled.lua
bin/.local/bin/*kiro*
bin/.local/bin/cortex
bin/.local/bin/ctpcli*
bin/.local/bin/dce*
bin/.local/bin/maelstrom/
bin/.local/lib/*python*
bin/.local/share/
bin/.local/state/
colima/.colima/_lima
colima/.colima/_store
colima/.colima/_templates
colima/.colima/default/daemon/
colima/.colima/ssh_config
docker/.docker/contexts/
fish/.config/fish/conf.d/*
!fish/.config/fish/conf.d/jwt.fish
!fish/.config/fish/conf.d/rustup.fish
fish/.config/fish/completions  
fish/.config/fish/fish_variables
hammerspoon/.hammerspoon/Spoons/
herdr/.config/herdr/*
!herdr/.config/herdr/config.toml
!herdr/.config/herdr/plugins
!herdr/.config/herdr/plugins/**
nushell/.config/nushell/history.txt
nushell/.config/nushell/plugin.msgpackz
pi/.pi/agent/auth.json
pi/.pi/agent/trust.json
pi/.pi/agent/sessions/
pi/.pi/agent/git/
